body{
    background-color: rgb(197, 200, 243);
    font-family: sans-serif;
    font-size: 16px ;
    color: blue;
}
h1,h2,h3{
    color: rgb(89, 104, 3);
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 50px;
}
.borda{
    border: 2px solid #919928;
    border-radius: 10px ;
    padding:15px ;
    margin: 10px;
 
}
img{
    width: 300px ;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

.melhores{ 
    font-size: 24px;
    font-weight: bold;
}